# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/build/scripts/features/activityBlockPicking.ts
/build/scripts/features/alternativeStyle.ts
/build/scripts/autoInjectCss.js
/build/background.js
/build/scripts/backgroundWorker.ts
/build/customStyles.css
/build/scripts/features/hideSidebar.ts
/build/scripts/features/hideWeekends.ts
/build/index-prod.html
/build/scripts/injectCss.ts
/build/icons/logo.png
/build/icons/logo-16.png
/build/icons/logo-48.png
/build/icons/logo-128.png
/build/main.js
/build/assets/main-BqIFKivd.css
/build/manifest.json
/build/scripts/messaging.ts
/build/scripts/features/showOnlySelectedBlocks.ts
/build/icons/text.png
/build/assets/text-CWQyW1F8.png
