@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    width: 100%;
    height: 100vh;
}

@theme {
    --color-text: #ddf2f5;
    --color-background: #061315;
    --color-primary: #8bd3de;
    --color-secondary: #422278;
    --color-accent: #a33bc7;
}