.sidebar-hide {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(300px);

    div {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

.sidebar-hide:hover {
    transform: translateX(0px);

    div {
        opacity: 1;
    }
}

.main-sidebar-hide {
    width: 100%;
}

.alternative-style-activity-block {
    transition: width 0.2s ease-in-out;

    .activity_group {
        color: rgba(255, 255, 255, 0.9);
        right: 0 !important;
    }

    .activity_block_top {
        .subject {
            font-weight: 600;
        }

        .itemlist ul li:nth-child(2) {
            display: none;
        }

    }

    .activity_block_bottom {

    }
}

.alternative-style-activity-block:hover {
    z-index: 99;
    width: 18% !important;
}